/* CSS dan styling untuk halaman utama */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
body{
        background: black;
        font-family: 'Poppins';
	font-weight: 200;
}
.navbar {
        background:#0E205F;
        width: 100%;
        height: 100%;
        z-index:100;color:#000;
}
.profile{
        width:60px; 
        height: 60px; 
        margin:17px 10% 20px 1.7%; 
        position: absolute;
}
.text-name{
        position: absolute; 
        margin: 35px 10% 20px 98px; 
        font-weight: 500; font-size: large; 
        font-family: 'Poppins';
        color: black;
        text-decoration: none;
}
.navbar li a {
        color:#D67B22;
}
#top {
        border:1px solid black;
        background:#1F1B1B;
}
#searchbox {
        background:#FF0000;
        overflow:hidden;
}
.searchbar{
        width:50%; 
        height: 55px; 
        margin:20px 25% 20px 30%; 
        font-family: 'Poppins';
}
.cart{
        margin-right: 40px;
        filter: invert(100%);
        -webkit-filter: invert(100%);
}
#header {
        margin-top:20px;
}
.carousel-inner img {
        width: 100%;
        height: 100%;
        margin-top: 20px;
        margin-bottom: 40px;
}
#category ul {
        list-style-type:none;
        overflow:hidden;width:100%; 
        border:1px solid #ccc;background: #fff; 
        border-bottom-right-radius:10px;
        border-bottom-left-radius: 10px;
}

#category li {
        display:block; 
        font-weight:400; 
        padding:10px; 
        border-top: 1px solid #ccc;
        margin-left:-40px; 

}
#new {
        font-weight:800;
}

.tag {
        display:inline;
        float:left;padding:2px 5px;
        width:auto;background:#90e137;
        color:#fff;height:23px;
}

.book-block {
        margin-top:20px;
        padding:5px;
        border-radius:10px;
        background: #1F1B1B;
}
footer {
        background:#FF0000!important;
        margin-top: 20px;border:1px solid #DEEAEE;
        border-radius:5px;
        color:white!important;
        border: none;
}
footer .row {
        padding:10px;
}

/* CSS dan styling untuk button buy and read, button ini ada di page description */

.button{
	width:150px;
	height: 60px;
	background-color: #FF0000;box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 20px;
	margin-top: 40px;
	color:#fff;
	font-family: calibri;
	font-weight: 600;
	letter-spacing: 0.5px;
	font-size: 1rem;
        text-decoration: none;
        margin-bottom: 40px;
}
.button:hover{
	color:#FFFFFF;
	background-color: green;
	transition: all ease 0.5s;
        text-decoration: none;
}

/* CSS dan styling untuk halaman cart */

